pkg
.vagrant
coverage
.bundle/
vendor/gems/

# Ignore the directories and files created by librarian-puppet.
.tmp/
.librarian/
Puppetfile.lock

# Ignore installed modules. We need the modules dir for puppet provisioning.
modules/stdlib
modules/wget
